<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <form action = '/bookmarks/<%= bookmark.id%>/update' method = get>
        <input type = 'submit' value = 'Update'>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
    </form>
  <% end %>
</ul>

<center><form action = '/bookmarks/delete' method = get>
          <input type = submit value = 'Delete Bookmarks'>
          </form></center>
