<form action = '/bookmarks/delete' method = 'post' >
  <% @bookmarks.each do |bookmark| %>
    <li>
      <input type='radio' id = "<%=bookmark.title%>" name="url" value="<%= bookmark.url %>">
        <label for="<%=bookmark.title%>"><%= bookmark.title %></label><br>
      </a>
    </li>
  <% end %>
  <input type = submit value = 'Submit'>
</ul>
</form>
